.Myheader {
    background-color: aqua;
    grid-area: banner;

}

.outerbox {
    background-color: blue;
    margin: 20px;
    height: 100px;
    text-align: center;
    grid-area: simple;
}

.innerbox {
    background-color: blueviolet;
    text-align: left;
    grid-area: notsimple;
    
}

body {
    background-color: brown;
}

.myfoot {
    grid-area: simp;
}

.my image {
    grid-area: image;

}

.wrapper {
    display: grid;
 grid-template-columns: 49vw 49vw;
 grid-template-rows: 39vh 29vh 29vh;
 grid-template-areas: "banner banner" "simple notsimple" "simp image";
}

@media (max-width:600px) {
  .Myheader {
      background-color: crimson;
  }

  .wrapper {
      display: grid;
      grid-template-columns: 99vw;
      grid-template-rows: 19vh 19vh 19vh 19vh 19vh;
      grid-template-areas: "banner" "simple " "notsimple" "simp" "image";
  }
  
    }   